.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.to-do-but {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: plum;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.to-do-but:hover {
  border: 1px solid plum;
  background: none;
  color: black;
}

.map {
  display: flex;
  align-items: center;
  width: 100px;
  gap: 10px;
}
